  .contact-container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .contact-container h2 {
    padding: 25px;
  }

  #appButton {
    width: 80px;
    height: 80px;
    margin: 25px;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0px;
    border: 2px solid white;
    font-size: 0.9em;
    font-weight: bold;
  }

  #appointment {
    max-width: 400px;
    margin: auto;
    padding: 25px;
    display: none;
  }

  #appointment.visible {
    display: block;
    padding-top: 50px;
  }

  select {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input {
    margin-bottom: 15px;
    width: 100%;
  }

  form > button {
    margin-top: 15px;
    width: 100%;
  }

  @media screen and (min-width: 650px) and (max-width: 1000px) {
    #appButton {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  
    #appointment {
      max-width: 550px;
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    #appointment.visible {
      display: flex;
    }
  }

  @media screen and (min-width: 1000px) {

    #appButton {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  
    #appointment {
      max-width: 750px;
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    #appointment.visible {
      display: flex;
    }
    
  }