  .contact-container {
    display: flex;
    flex-direction: column;
  }

  #appButton {
    width: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #appointment {
    max-width: 400px;
    margin: auto;
    padding: 25px;
    display: none;
  }

  #appointment.visible {
    display: block;
  }

  select {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    margin-bottom: 15px;
  }

  form > button {
    margin-top: 15px;
  }