footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

footer h3 {
    font-size: 1.2em;
    padding: 25px;
    text-align: center;
    width: 290px;
}

footer p {
    margin: 5px;
    font-weight: 700;
}

.footerImg {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}

#socialMedia {
    display: flex;
    gap: 15px;
}

#whatsapp {
    background-image: url('/public/whatsapp.png');
}

#instagram {
    background-image: url('/public/instagram.png');
}

#linkedin {
    background-image: url('/public/linkedin.png');
}

footer .copyright {
    margin-top: 25px;
    font-size: 0.6em;
}

footer a {
    color: white;
    text-decoration: underline;
    font-weight: lighter;
}

footer a:hover {
    color: white;
}