@media screen and (max-width: 650px) {
    #header {
        background-color: black;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        z-index: 99; 
    }

    #header a {
        color: white;
    }

    #headerTitle {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
        position: fixed;
        top: 0;
        left: 15px;
        margin: 15px 0px 0px 0px;
        font-size: 1em;
        transition: opacity 0.5s;
    }

    .visible {
        opacity: 1;
      }
      
    .hidden {
        opacity: 0;
        pointer-events: none;
      }

    #menuButton {
        position: fixed;
        right: 0;
        font-size: 2em;
        font-weight: 500;
        padding: 0px 15px;
        background-color: black;
        color: white;
        border: none;
    }

    #navMenu {
        background-color: black;
        height: 100vh;
        width: 0px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        

        position: fixed;
        top: 0;
        right: 0;
        visibility: hidden;
        transition: .5s;
        overflow-x: hidden;
        z-index: 97;
    }

    #navMenu.visible {
        width: 100%;
        visibility: visible;
    }

    #navMenu a {
        text-decoration: none;
        color: white;
    }

}