#myJob {
    background-color: black;
    padding: 50px 0px;
}

#myJob h4 {
    padding: 40px 0px;
    margin-left: 20px;
    font-size: 1.5em;
    color: white;
}

#jobSection {
    width: 300px;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#jobSection img {
    width: 250px;
    height: 250px;

    transition: 1s;
}

#jobSection img:hover {
    transform: scale(1.1);
}

.pictureBorder {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
}
